<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kill This Recipe [Blog]</title>
  <link rel="stylesheet" href="/kill-this-recipe/styles/styles.css"> 
<body>
  <header>
    <div class="container">
      <h1>Kill This Recipe Blog</h1>
      <nav>
        <a href="/">Home</a> | <a href="/posts/new">New Post</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <% include body %>
    </div>
  </main>
  
</body>
</html>
